
body,html{

  margin: 0;
}

body {
    /* width: 100%;
    height: 100%; */
    
    font-family: Arial, Verdana,  sans-serif; /* Семейство шрифтов */
    font-size: 18pt; /* Размер основного шрифта в пунктах  */
    /* background-color: #EDC339; Цвет фона веб-страницы */
    color: white; /* Цвет основного текста */ 
    text-shadow: #000 4px 0px 4px;
    background-image: url(../background/background_3_3.jpg);

    
}

#logo {
    width: 10px;
    padding-top: 0;
    
    display: flex;
}

.header {
    margin-left: 0%;
    margin-right: 0%;
    font-family: 'Oswald', sans-serif;
    height: 65px;
    background-color: #01577D;
    
}

.listItem {
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header > * {
    min-width: 883px;
}

.header *{
    margin: 0;
    padding: 0;
}

.header ul {
    list-style: none;
}

.header > ul {
    display: flex;
    justify-content: center;
}

.header > ul li{
    position: relative;
    border: 2px solid gray;
    
    width: 200px;
    height: 63px;
}

#logo {
    width: 340px;

    font-family: 'Lobster', cursive;
    font-size: 39pt;
}

#logo img {
    padding-left: 10px;
}

#logo a {
        pointer-events: none;
        width: 70%;
        font-size: 28pt;
    }







.header > ul li a {
    display: block;
    text-decoration: none;
    padding: 10px 20px 0px 20px;
    color:  #D1C6BE;
    font-size: 24px;

    height: 88%;
}

.listItem a {
    padding: 18px 20px 0px 10px;
}

.header > ul li a:hover{
background: rgb(73, 72, 72);
color: #ffffff; 
}

.header ul li ul {
    position: absolute;
    z-index: 4;
    display: none;  /*СЪЕЗЖАЮТ ЭЛЕМЕНТЫ **************************************/
}

.header ul li > ul li{
    border: 1px solid gray;
}

.header ul li > ul li a{
    /* padding: 10px; */
    text-transform: none;
    background: #01577D;
}

.header ul li:hover ul{
    display: block;
}


.ALL {
    margin-left: 20%;
    margin-right: 20%;
    min-width: 883px;
}


#basic {
    width: 100%;
    height: 100%;
    margin-top: 80px;
    margin-bottom: 70px;
    background-color: #227AA1;
    box-sizing: border-box;
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Oswald', sans-serif;
}

/* ЧАСТЬ СО СЛАЙДЕРОМ */

.cent {
    height: 500px;
    width: 100%;

}

#slider {
    width: 800px;
    height: 400px;
    overflow: hidden;
    border: 10px solid goldenrod;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slider {
    width: 800px;
    height: 400px;
    overflow: hidden;
    border: 10px solid goldenrod;
    position: absolute;
    /* top: 50%;
    left: 50%; */
    /* transform: translate(-50%, -50%); */

    margin-top: 60px;
     margin-left: 6%;
    
}

.buttons {
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.button {
    height: 8px;
    width: 30px;
    margin: 6px;
    cursor: pointer;
    background-color: orangered;
    opacity: .7;
    border-radius: 10px;
    transition: all .4s ease;
}

    .button:hover {
        opacity: 1;
        transform: scale(1.1);
    }

input[name = "slides"] {
    position: absolute;
    visibility: hidden;
}

#all_slides {
    display: inline;
}

.sliders {
    width: 400%;
    height: 100%;
    display: flex;
}

#all_slides {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

#slide1 {
    display: inline-block;
    width: 25%;
}

    #slide1 img {
        width: 100%;
        height: 100%;
    }

.slide {
    display: inline-block;
    width: 25%;
    margin-left: -6px;
}

    .slide img {
        width: 100%;
        height: 100%;
    }

#slide_1:checked ~ #all_slides {
    margin-left: 0%;
    transition: all .6s ease;
}

#slide_2:checked ~ #all_slides {
    margin-left: -25%;
    transition: all .6s ease;
}

#slide_3:checked ~ #all_slides {
    margin-left: -50%;
    transition: all .6s ease;
}

#slide_4:checked ~ #all_slides {
    margin-left: -75%;
    transition: all .6s ease;
}

.maintext {
    margin-top: 50px;
    margin-left: 70px;
    margin-right: 60px;

    border: 7px solid black;
    box-shadow: 10px 10px 5px black;
}

.whytext {
    width: 100%;
    
    display: flex;

    flex-direction: column;
}

.whytext h1 {
    /* margin-left: calc(50vh - 150px); */
    
    /* justify-content: center; */
    align-self: center;
}

.Why {
    display: flex;
    justify-content: space-around;
}

.why {
    /* justify-content: center; */
    width: 250px;
    height: 300px;
}

.why img{ 
    align-self: center;
}

footer {

    background-color: darkslategray;

    display: flex;

    justify-content: space-around;

    padding-top: 20px;
    padding-bottom: 20px;
}

/* @media screen and (max-width: 720px;) {
    


} */