body,html{
    padding: 0;
    margin: 0;
  }

body {
    width: 100%;
    height: 100%;
    
    font-family: Arial, Verdana,  sans-serif; /* Семейство шрифтов */
    font-size: 18pt; /* Размер основного шрифта в пунктах  */
    /*background-color: #EDC339; /* Цвет фона веб-страницы */
    color: white; /* Цвет основного текста */ 
    text-shadow: #000 4px 0px 4px;
    background-image: url(../background/background_3_3.jpg);
  }

#logo {
    width: 10px;
    padding-top: 0;

    display: flex;
}

.header {
    margin-left: 0%;
    margin-right: 0%;
    font-family: 'Oswald', sans-serif;
    height: 65px;
    background-color: #01577D;
}


.header *{
    margin: 0;
    padding: 0;
}

.header ul {
    list-style: none;
}

.header > ul {
    display: flex;
    justify-content: center;
}

.header > ul li{
    position: relative;
    border: 2px solid gray;
    
    width: 200px;
    height: 63px;
}

#logo {
    width: 340px;

    font-family: 'Lobster', cursive;
    font-size: 39pt;
}

#logo img {
    padding-left: 10px;
}

    #logo a {
        pointer-events: none;
        width: 70%;
        font-size: 28pt;
    }




.header > ul li a {
    display: block;
    text-decoration: none;
    padding: 10px 20px 0px 20px;
    color:  #D1C6BE;
    font-size: 24px;

    height: 88%;
}

.header > ul li a:hover{
background: rgb(73, 72, 72);
color: #ffffff; 
}

.header ul li ul {
    position: absolute;
    
    display: none;
}

.header ul li > ul li{
    border: 1px solid gray;
}

.header ul li > ul li a{
    padding: 10px;
    text-transform: none;
    background: #01577D;
}

.header ul li:hover ul{
    display: block;
}


#ALL {
    margin-left: 20%;
    margin-right: 20%;

    /* height: 2400px; */
}


#basic {
    width: 100%;
    height: 100%;
    margin-top: 80px;
    margin-bottom: 70px;

    background-color: #227AA1;

    box-sizing: border-box;

    display: inline-block;

    padding-left: 20px;
    padding-right: 20px;

    font-family: 'Oswald', sans-serif;

    padding-bottom: 40px;
}

.hatname {
    margin-top: 20px;
    padding-left: 500px;
    border-top: 4px solid bisque;
    border-bottom: 4px solid bisque;
}

h2 {
    margin-top: 10px;
    margin-bottom: 15px;
}
h3 {
    margin: 0;
    margin-top: 4px;
}

.product {
    padding-left: 60px;
    padding-top: 30px;

    padding-right: 0;
    margin-right: 0; 

    margin-bottom: 30 px;

    display: inline-block;


}

.image img {
    border-radius: 9px;
}

.info > div {
    display:flex;
    justify-content: space-between;
}

.buy {
    width: 90px;

    border-radius: 9px;
}

.buy:hover {
   background-color: bisque;
}

/*footer {
    width: 100%;
    height: 100%;

    margin-top: 300px;
    background-color: #544F53;
    <!--padding-left: 100%;
    padding-right: 100%;-->

   
  }*/

.product {
    width: 270px;
    height: 240px;
}

footer {

    background-color: darkslategray;

    display: flex;

    justify-content: space-around;

    padding-top: 20px;
    padding-bottom: 20px;
}